Source: mailscanner
Section: mail
Priority: optional
Maintainer: Jerry Benton <mailscanner@mailborder.com>
Build-Depends: debhelper (>=9)
Build-Depends-Indep: perl (>= 5.8.7)
Standards-Version: 3.9.4
Homepage: http://www.mailscanner.info

Package: mailscanner
Architecture: all
Depends: ${perl:Depends},
         ${misc:Depends},
         perl,
         perl-base,
         perl-modules,
         tnef,
         libconvert-tnef-perl,
         libdbd-mysql-perl,
         libfilesys-df-perl,
         libio-stringy-perl,
         libsys-hostname-long-perl,
         libnet-cidr-perl,
         libsys-sigaction-perl,
         libmailtools-perl,
         libmime-tools-perl,
         libnet-cidr-perl,
         libhtml-tokeparser-simple-perl,
         libarchive-zip-perl,
         libole-storage-lite-perl,
         libdbd-sqlite3-perl,
         libsys-syslog-perl,
         libsys-sigaction-perl                 
Recommends: wget | curl, clamav, clamav-daemon, spamassassin, perl-doc
Description: Open Source Email Gateway
 Virus, malware, spam and phishing detection.
 
