Package: MailScanner
Version: DebianVersionHere
Architecture: all
Section: mail
Priority: optional
Maintainer: Jerry Benton <mailscanner@mailborder.com>
Description: Open Source Email Gateway
 Virus, malware, phishing, and spam detection engine.
Homepage: http://www.mailscanner.info   
Build-Depends: tar, binutils, libc6-dev, gcc, make, patch, gzip, unzip, openssl, perl (>=5.8.7), perl-base(>=5.8.7), perl-doc, perl-modules (>=5.8.7), libdbd-mysql-perl, libconvert-tnef-perl, libdbd-sqlite3-perl, libfilesys-df-perl, libmailtools-perl, libmime-tools-perl, libnet-cidr-perl, libsys-syslog-perl, libio-stringy-perl, libdbd-mysql-perl, libencode-detect-perl, antiword, libarchive-zip-perl, libconfig-yaml-perl, libole-storage-lite-perl, libsys-sigaction-perl, pyzor, razor, tnef, libinline-perl, libmail-imapclient-perl, libtest-pod-coverage-perl, libfile-sharedir-install-perl, libmail-spf-perl, libnetaddr-ip-perl, libsys-hostname-long-perl, libhtml-tokeparser-simple-perl, libmail-dkim-perl, libnet-ldap-perl, libnet-dns-resolver-programmable-perl, libnet-cidr-lite-perl, libtest-manifest-perl, libdata-dump-perl, libbusiness-isbn-data-perl, libbusiness-isbn-perl, rsync, spamassassin         
Recommends: wget | curl, clamav, clamav-daemon, unrar, rsync 
